{% extends "home.html" %}
{% block food_items %}
   {{ super() }}

	  <!-- <textarea rows="4" cols="50"> -->
	  <!--   {{ food_items }} -->
	  <!-- </textarea>  -->

	  <!-- <textarea rows="4" cols="50"> -->
	  <!--   {{ test }} -->
	  <!-- </textarea>  -->


	  <h2>Menu Table</h2>
	  <table id="food" class="table table-hover" >
	    <thead>
	      <tr>
	  	<th>Name</th>
	  	<th>Price</th>
	        <th>Description</th>
	        <th>Calories</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for c in food_items %}
	      <tr>
	        <td>{{ c.name }}</td>
	        <td class="price" >{{ c.price }}</td>
	        <td>{{ c.description }}</td>
	        <td class="calories">{{ c.calories }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  <button id="filter_cal" class="btn btn-success">Filter by Calories <span class="glyphicon glyphicon-ok"></span></button>
	  <button id="highlight_price" name="input_submit" class="btn btn-info">Highlight Prices Higher than $8.00 <span class="glyphicon glyphicon-ok"></span></button>

{% endblock %}
